<h1> Who I am </h1>
<div class="content-wrapper">
    <div class="content-wrapper__inner">
      <p>
        Hello! I'm Salma, a software engineer based in the Greater New York area, who enjoys building things that live on the
        internet. I develop exceptional web apps that provide efficient and modern backends.
        Shortly after graduating from <a class="text" href="https://www.flatironschool.com">Flatiron School</a>, I joined the
        engineering team at <a class="text" href="https://www.cognizant.com">Cognizant</a> where I worked on a
        large-scale variety of exciting and significant projects on a daily basis. Later, I discovered my passion for data
        , so I decided to take a step further towards scaling my skills and pursuing a master degree in data science at <a
          class="text" href="https://sps.cuny.edu/academics/graduate/master-science-data-science-ms">The City University of New
          York</a> ,I am planning to graduate this summer.
      </p>
    
        <p>Here are a few technologies I've been working with recently:</p>
        <ul class="left">
            <li>Python</li>
            <li>R</li>
            <li>tensorflow</li>
            <li>JavaScript (ES6+)</li>
            <li>React</li>
            <li>Node.js</li>
        </ul> -->
    </div>
</div>
